body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
#game-container {
    position: relative;
    width: 800px;
    height: 800px;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
}

#character {
    width: 25px;
    height: 25px;
    position: relative;
    transition: 0.1s linear;
}

#character.right{
    width: 25px;
    height: 25px;
    background-image: url(Right.png);
    position: relative;
    transition: 0.1s linear;
}
#character.up{
    width: 25px;
    height: 25px;
    background-image: url(up.png);
    position: relative;
    transition: 0.1s linear;
}
#character.left{
    width: 25px;
    height: 25px;
    background-image: url(left.png);
    position: relative;
    transition: 0.1s linear;
}
#character.down{
    width: 25px;
    height: 25px;
    background-image: url(down.png);
    position: relative;
    transition: 0.1s linear;
}
.dotStyle{
    background-color: red;
    position: absolute;
    width: 25px;
    height: 25px;
    transition: 0.1s linear;
}
